/* Base Styles*/
body {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    font-family: 'Roboto', 'Playfair Display';
    height: 100vh;
}
.salmon {
    color: $fuzzy-wuzzy;
	&:hover {
		color: $platinum;
	}
}