.header {
    padding-top: auto;
    padding-left: auto;
    background-image: url(../images/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    }
    .logo {
    width: 120px;
    }
    .lale {
    font-family: 'playfair-display', cursive;
    font-size: $x-large;  
    line-height: 'normal';
}
